{% if lambda_list %}
  {% if lambda_list.response != 'null' %}
    <h1>Lambda invocation</h1>
    <table>
        <thead>
            <tr>
                <th>Lambda Name</th>
                <th>Lambda Successful</th>
                <th>Lambda Errors</th>
                <th>Lambda Execution time approx Seconds</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>{{ lambda_list.lambda_name }}</td>
                    <td>{{ lambda_list.successful }}</td>
                    <td>{{ lambda_list.errortype }}</td>
                    <td>{{ lambda_list.execution_time }}</td>
                </tr>
        </tbody>
    </table>
{% endif %}
{% if lambda_list.successful %}
    <h3><strong>Lambda Invocation Returned Data</strong></h3>
    <pre id="json">
    </pre>
{% endif %}
<br>
<br>
<br>
<br>
{% if reason_object %}
<h3><strong>Reasons for the Errors or Skipped tests</strong></h3>
{% for item, value in reason_object.items() %}
<ul>
    <li>
        <strong>{{item}}</strong> : {{value}}
    </li>
</ul>
{% endfor %}
{% endif %}
{% endif %}
