{% if lambda_list_configs %}
<h1>Lambda Security Information</h1>
<table>
    <thead>
        <tr>
            <th>Lambda Name</th>
            <th>Lambda Runtime</th>
            <th>Lambda Role</th>
            <th>Lambda Handler</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>{{ lambda_list.lambdaName }}</td>
                <td>{{ lambda_list.Runtime }}</td>
                <td>{{ lambda_list.Role }}</td>
                <td>{{ lambda_list.Handler }}</td>
            </tr>
    </tbody>
</table>
<br>
<br>
<br>
<h1>Lambda Security Recommendations</h1>
{% for i in lambda_list_configs %}
    {% for item, value in i.items() %}
        {% if item not in ['lambdaName', 'Runtime', 'Role', 'Handler'] %}
            <ul>
                <li>
                    <strong>{{item}}</strong> : {{value}}
                </li>
            </ul>
        {% endif %}
    {% endfor %}
{% endfor %}
{% elif %}
<br>
<br>
<br>
{% endif %}
