{% if overallpiechart %}
<h2 class="header"> Test Metrics</h2>
<img class="img-fluid" src="data:image/jpeg;base64, {{overallpiechart}}" alt="Tests Ran">
{% endif %}
{% if piechart_context %}
<br>
<br>
<br>
<h2><strong>Test Cases</strong></h2>
<br>
<br>
<br>
<table>
    <thead>
        <tr>
            <th>Test Cases Planned</th>
            <th>Test Cases Executed</th>
            <th>Test Cases Passed</th>
            <th>Test Cases Failed</th>
            <th>Test Cases Skipped</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>{{ piechart_context.Planned }}</td>
                <td>{{ piechart_context.Executed }}</td>
                <td>{{ piechart_context.Passed }}</td>
                <td>{{ piechart_context.Failed }}</td>
                <td>{{ piechart_context.Skipped }}</td>
            </tr>
    </tbody>
</table>
{% endif %}