<h1 class="header"> Test Closure Memo</h1>
<p>This document explains the various activities performed by Test IAC as part of pipeline for the application.</p>
<br>
<h2 class="header"> Testing Scope</h2>
<ul>
    <li>
        <strong>Out of Scope</strong>: Performance Testing was not done for this application.
    </li>
    <li>
        <strong>Out of Scope</strong>: Verification of connectivity with the third party systems,
        as the connectivity could not be established due to some technical limitations such as access or permissions.
        <br>
        This can be verified during UAT (User Acceptance Testing) where the connectivity is available or can be established via manual testing
        or creating web scrapping testing cases where manual button presses become automated.
    </li>
    <li>
        <strong>In Scope</strong>: Functional Testing for the following modules are in Scope of Testing <strong>[Lambda, ECS, EC2, Lambda Security Baseline]</strong>
        <br>
        Any other avaliable Testing components can be customized per Application by updating the code base and injecting logic as per app.
    </li>
    <li>
        <strong>In Scope</strong>: Any returned data from a developer must adhere and be prepared to create own testing akin to ADO as this Pipeline does not intergrate with ADO at this time.
    </li>
    <li>
        <strong>In Scope</strong>: Any feedback to improve reporting or units of test are to be emailed to the solutions lead.
    </li>
    <li>
        For more information regarding the above, please contact the solutions group.
        <br>
        <strong>Accountable Director</strong>: <strong>Thinh.La@ato.gov.au</strong>
        <br>or
        <br>
        <strong>Solutions Lead</strong>: <strong>John.Pham@ato.gov.au</strong>
    </li>
</ul>